body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    border: 1px solid #000;
    border-radius: 5px;
    width: 400px;
    background-color: #fff;
    text-align: center;
}

.calculator-screen {
    width: 90%;
    height: 80px;
    background-color: #bbf1ec;
    color: black;
    text-align: right;
    font-size: 2.4rem;
    border: 2 solid gray;
    margin-top: 10px;
    border-radius: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px;
}
button {
    height: 60px;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
}
.color{
    background-color: rgb(167, 255, 167);
}
.color1{
    background-color: rgb(226, 151, 151);
}
button:hover{
    background-color: #d99a67;
}
.color1:hover{
    background-color: #ed1c11;
}
